language: php

sudo: false

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

matrix:
    include:
        - php: 5.5
        - php: 5.6
        - php: 7.0
        - php: 7.1
    fast_finish: true

before_install:
    - composer self-update

install:
    - composer --prefer-source install

script:
    - vendor/phpunit/phpunit/phpunit
